.eventos_control{
    width: 100%;
    max-width: 1400px;
    padding: 1rem;
    justify-content: center;
    height: 100%0;
}

.tag_eventos{
    width:700px ;
    height: 600px;
    justify-content: center;
  
    margin: 0 auto;
}


