



.formulario_sec {
  width: 100%;
    max-width: 1400px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    display: flex;
    margin: 0 auto;
  }
  

  /* Estilos CSS */
.content_form {
    width: 1020;
    max-width: 800px;
    height: 100%;
    display: flex; 
    margin:0 auto;
    padding: .5rem;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    @apply bg-neutral-50;
  
  }
  .info_form{
   margin: 0 auto; 
    display: block;
    width: 50%;
    height: 100%;
  }
  
  .logo_form{
    margin: 0 auto;
    width: 180px; 
    height: 100px;
  }
  
  
  .logo_domus_form{
    background-image: url("/logos/logodomus.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
  
  }
  .texto_form{
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem;
    width: 300px;
    height: 400px;
    justify-content : center;
    text-align:left ;
    line-height: 2;
    border-radius: 20px;
    @apply bg-neutral-950;
  }
  
  
  
  .form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-radius: 6px;
    @apply bg-orange-600;
  
  }
  
  .inputs_form {
  
    justify-content: center;
    align-items: center;
    padding: .1rem;
    display: flex;
    margin: .5rem auto;
    flex-direction: column;
  }
  
  .file-input-container {
    position: relative;
    display: inline-block;
  }
  
  .file-input-container input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  
  .content_inputs{
    padding: .5rem;
  
  
  
  }
  
  .inputs{
    border-radius: 8px;
    @apply text-stone-950
  }
  
  
  .send_email{
    text-align: center;
    cursor: pointer;
  transition: all .3s ease-in;
  }
  .send_email:hover{
    @apply text-neutral-600;
    @apply bg-neutral-50;
  
  }
  
  
  @media (max-width: 800px) {
  
    
    
    .content_form{
      display: flex;
      gap:10px;
       flex-direction:column;
    }
    
    .info_form{
      max-width: 420px;
      width: 100%;
    }
  .form{
    width: 100%;
    max-width:400px;
    
    
  
  }
  
  }