
.ayudemos_control{
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  margin: 4rem auto;
  padding-top: 1rem;
}

.colabora_control{
  width: 800px;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}


.oracion_sec {
  width: 100%;
  max-width: 900px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.oracion {
  width: 800px;
  height: 100%;
  border-radius: 6px;
  margin: 2rem auto;
  justify-content: space-between;
  @apply bg-neutral-50;
}

.img_vrg {
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
}

.virgen {
  background-image: url("/targetas/virgen.jpg");
  width: 450px;
  height: 850px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;;
  border-radius: 20px;

}

.oracion_txt {
  position: relative;
  padding: 1rem;
  padding-top: 4rem;
  margin: 0 auto;
  height: 100%;
  max-width: 400px;
  font-size: 1rem;
}

.oracion_txt h3 {
  padding: 1rem;
  font-family: "Playfair Display";
  font-size: 1.2rem;
}

.oracion_txt p {
  @apply text-neutral-950;
  padding: 1rem;
  font-size: 1rem;
}

.amen{
  position: absolute;
  transform:translateX(16rem) translateY(-1rem);
}

@media (max-width: 800px) {
  .oracion {
    display: block;
    max-width: 600px;
    justify-content: center;
  }
}
