/*

font-family: 'Atkinson Hyperlegible';
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display';
font-family: ;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



h1{
    z-index: 100;
    font-family: 'Playfair Display';
    filter: contrast(200%);
    font-weight: 600;
    font-size: 5.5rem;
    @apply text-neutral-50;

}




body {

    font-family: 'Poppins', sans-serif;
    @apply bg-neutral-400;
}

body p{
    @apply text-neutral-50;
    font-family: 'Open Sans', sans-serif;


}
