/*

font-family: 'Atkinson Hyperlegible';
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display';
font-family: ;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  width: 300px;
  z-index: 100;
  font-family: "Playfair Display";
  filter: contrast(200%);
  font-weight: 900;
  font-weight: 600;
  font-size: 3.5rem;
  filter: drop-shadow(1px 1px 2px #fff );
  @apply text-amber-600;

}

  h2{
  text-transform: uppercase;

  }

h3{
  text-transform: uppercase;
  font-family: "Playfair Display";
@apply text-slate-950;

}

h2 {
  text-transform: uppercase;
  
  font-family: "Playfair Display";
@apply text-slate-950;
    
  font-size: 1.5rem;
}



h4{
font-family: 'Playfair Display';
text-transform: uppercase;

font-size: 1.5rem;
@apply text-slate-950;

}


body {
  font-family: "Poppins", sans-serif;
  @apply bg-gray-400;

}

body p {
  @apply text-neutral-50;
  font-family: "Open Sans", sans-serif;
}
 
.content-all-app{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}

@media(min-width:800px){
  .menu_movil{
    display: none;
  }
}


@eddia (max-width:800px){

  


  h1{
    font-size: 2.5rem;
    transfom:translateX(-3rem);

  }


  .content-all-app{
    width:1rem;
    margin:0 -100%;
  }
}