/*

font-family: 'Atkinson Hyperlegible';
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display';
font-family: 'Poppins', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    z-index: 100;
    font-family: 'Playfair Display';
    filter: contrast(200%);
    color: aquamarine
}



body {

    @apply bg-neutral-400;
    color: #fff;
}