.container_cover {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  top: 3rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.imgs_carru {
  min-width: 1400px;
  height: 700px;
  background-size: cover;
  position: relative;
}

.t_carrusel {
  margin: 0 auto;
  margin-top: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  position: absolute;
  font-size: 3.5rem;
  font-weight: 400;
  z-index: 500;
}

@media (max-width: 800px) {
  .t_carrusel h1 {
    font-size: 60%;
    margin-top: 10rem;
  }
  .container_cover {
    width: 100%;
    margin-bottom: 1.5rem;
    min-width: 800px;
    max-height: 600px;
  }
}
