


.collage {
  width:  1400px;
  min-width: 100%;
  height: 100%;
  max-height: 600px;
  margin: 0 auto;
  justify-content: center;
}
.collage-images {
  width: 100%;
  max-height:600px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carrusel_imgs {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.t_carrusel {
  
  margin: 0 auto;
  margin-top: 10rem;
  padding-top: 1rem;
  padding-left:1rem ;
  position: absolute;
  font-size: 3.5rem;
  font-weight: 400;
  z-index: 500;
}

@media (max-width: 800px) {
  .t_carrusel h1{
    font-size: 60%; 
  }
}