.home_section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 7% auto;
}

/*seccion de carrusel*/
.sec_programa {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  justify-content: center;
}

/*estilos oracion de los pobres*/

/*estilos resoonsive*/
