/* Estilos para pantalla grande */
.home_section {
  width: 100%;
  max-width: 1400px;
  
  height: 100%; 
  padding: 0;
  justify-content: center;
  margin: 7% auto;
}

.sec_programa {
  width: 1200;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
}

.servi_content {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.targ_serv {
  text-align: center;
  width: 100%;
  max-width: 450px;
  height: 280px;
  overflow: hidden;
  padding: 1rem;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 12px;
  @apply bg-neutral-50;
}

.targ_serv ul li {
  font-size: 1.5rem;
  font-family: 'Atkinson Hyperlegible';
  text-transform: capitalize;
  font-weight: 400;
}

.targ_serv span {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.img_serv span img {
  width: 350px;
}

.servi_vol {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  padding: 1rem;
  @apply bg-neutral-50;
  transition: all .3s ease-in-out;
}

.targ_serv:hover{
transform: translateY(-1rem);
}

.img_vol {
  margin: 0 auto;
  padding: 1rem;
  width: 150px;
  margin: 0 auto;
}

@media (max-width:800px){
  

  .servi_content{
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
  }

  .serv_content {
    display:block;
    margin: 0 auto;
    justify-content: center;
  }

  
}