

.home_lay{
  width: 100%;
  margin: 0 auto;
  justify-content: center;

}


.home_control{
  width: 100%;
  justify-content: center;
}
.home_section {
  width: 100%;
  max-width: 1400px;
  height: 100%; 
  padding: 0;
  justify-content: center;
  margin: 7% auto;
}
.servi_content {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.serv_content{
  width: 800px;
  margin: 0 auto;
  justify-content: center;

}
.sec_programa {
  width: 100%;
  max-width: 1400;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
}


.targ_serv {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 280px;
  overflow: hidden;
  padding: 1rem;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 12px;
  @apply bg-neutral-50;
}

.targ_serv ul li {
  font-size: 1.5rem;
  font-family: 'Atkinson Hyperlegible';
  text-transform: capitalize;
  font-weight: 400;
}

.targ_serv span {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.img_serv span img {
  width: 100%;
  max-width: 350px;
}

.servi_vol {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  padding: 1rem;
  @apply bg-neutral-50;
  transition: all .3s ease-in-out;
}

.targ_serv:hover{
transform: translateY(.5rem);
}

.img_vol {
  margin: 0 auto;
  padding: 1rem;
  width: 150px;
  margin: 0 auto;
}

@media (max-width:800px){
  
  
  .servi_content{
    justify-content: center;
    margin: 0 auto;
    
  }

  .serv_content {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
  }

  
}