.content_programa_carrusel {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 400px; 
}

.tag_programa_container {
  width: 100%;
  max-width: 1400px;
  padding: 0;
  margin: 0 auto;
}
.targ_programas {
  @apply bg-neutral-50;
  margin: 0 auto;
  width: 100%;
  height: 350;
}

.tag_prog {
  width: 350px;
  height: 400px;
  margin: 0 2.5rem;
  @apply bg-orange-600;
}
.tag_prog img {
  .filter {
    -webkit-filter: blur(2px) brightness(109%) saturate(125%);
    filter: blur(2px) brightness(109%) saturate(125%);
  }
}

.info_programa {
  margin: 0.5rem 0.5rem;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  align-items: center;
}

.t_programa {
  @apply text-neutral-700;
  width: 150px;
}

.t_programa h5 {
  font-size: 0.85rem;
}

.desc_programa {
  width: 100%;
  max-width: 300px;
  text-align: left;
  text-align: left;
  padding: 0 0.5rem;
  height: 100%;
  max-height: 160px;
  display: block;
  justify-content: space-around;
  cursor: pointer;
  @apply text-neutral-950;
}

.txt_prog {
  padding: 0;
  overflow-wrap: break-word;
  width: 300px;
  font-size: 1.2rem;
  height: 90%;
}
.txt_ubi {
  font-size: 0.9rem;
  overflow-wrap: break-word;
  padding: .5rem;
  width: 300px;
  height: 10%;
  padding-bottom: 0.2rem;
}

.txt_prog p {
  @apply text-neutral-950;
  text-transform: capitalize;
  text-justify: auto;

  margin: 0.5rem auto;
  font-size: .85rem;
}

.img_programa {
  width: 100%;
  max-width: 350px;
  height: 140px;
}

.logo_programa {
  width: 50px;
}
.tag_programa-button:first-child {
  left: 0;
}

.tag_programa-button:last-child {
  right: 0;
}
