footer {
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  max-width: 1400px;
  height: 350px;
  padding: 0.125rem 0;
  margin: 0 auto;
}

.content-footer {
  width: 100%;
  align-items: center;
  padding: .5rem;
  @apply bg-neutral-950;
}

.info_footer{
  width: 350px;
}

.servicios_info_footer{
  width: 30%;
}

.servicios_info_footer ul{
  width: 200px;
}

.t_txt_footer{
  width:30%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tabs_footer{
  width: 100%;
  display: flex;

  justify-content: center;

}



@media (max-width: 800px) {



  .content-footer {
    width: 800px;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .t_txt_footer{
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content:space-between;

  }

  .servicios_info_footer {
    width: 100%;
    display: flex;
    margin:0 auto;
    justify-content:center;
  }

  .servicios_footer ul {
    display: block;
        margin: 0 auto;
  }

  .servicios_footer ul li{
    line-height: 2.5;
    font-size: .8rem;

  }
  

  .info_domus_footer {
    display: flex;
    width: 50%;

    margin:0 auto;
    justify-content:center;
  }

  .redes_footer {
    gap: 3px;
    padding-bottom: 1rem;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
  }

  .info_footer {
        display: flex;
        width: 100%;
        margin: 0 auto;

    justify-content:center;
  }
  .info_footer ul {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: block;
    justify-content: center;
  }

  .info_footer ul li{
    width: 200px;
    margin: 0 auto;
    padding-bottom:1rem;

  }

  .info_adi{
    margin: 0 auto; 
    font-size: 12px;
  }

  .tabs_footer{
    display: block;
    margin:0 auto;
  }

}
