header {
    width: 100%;
  z-index: 1000;
  max-width: 1400px;
  height: 120px;
  margin-bottom: 1rem;
  justify-content: center;
  position: fixed;
  padding: 0;
  top: 0;
}
.content-all-header {
 max-width: 1400px;
  display: flex;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
  @apply bg-neutral-50;
}
.logo-header {
  width: 200px;
  justify-content: center;
  z-index: 1000;
  justify-items: center;
}

.logo-domus-header {
  padding-top: 1rem;

  width: 200px;
  height: 110px;
  background-allposition: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("/logos/logodomus.jpg");
}

.nav-header {
  display: flex;
  margin: 0;
  padding: 0.5rem;
  width: 60%;
  justify-content: space-around;
}

.nav-header ul {
  display: flex;
  margin: 0;
  justify-content: center;
}

.nav-header ul li {
  list-style: none;

  margin: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-family: "Playfair Display";
 
}

.subheader {
  @apply bg-orange-600;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  height: 45px;
  justify-content: space-around;
}


.info_subh{
  width: 70%;
  gap: 3rem;
  justify-content: right;
  height: 20px;
}

.descarga_subh {
  width: 30%;
    align-items: center;
    padding-top:.5rem;
  max-width: 150px;
}

.info_subh {
}

@media (max-width: 800px) {
  .nav-header {
    display: none;
  }

  .info_subh{
    gap: 1rem;
  }
  .content-all-header {
    display: flex;
    width:100%;
    justify-content: space-around;
    margin: 0 auto;
  }
}
