.content_movil {
  width: 100px;
  display: none;
  max-width: 400px;
  transform: translateX(-6rem);
  height: 100%;
  max-height: 650px;
}

.menu_movil {
  width: 300px;
  height: 600px;
  z-index: 1000;
  @apply bg-white;
}

.menu_movil li {
  margin: 1rem;
}

.movil_toggle {
  display: none;
  width: 100px;
}

@media (max-width: 800px) {
  .content_movil {
    display: block;
}

    .list_movil{
    top: 3.5rem;
    height: 350px;
        text-transform: capitalize;
        font-size: 1.2rem;
        transform: translateY(40%);
        
        

    }

    .list_movil ul{
        gap: 2rem;
    }

    .list_movil ul li{
        margin: 3rem;
        padding: 2rem;
        cursor: pointer;

    }
    .list_movil ul li:hover{
        @apply text-amber-400;
    }

  .movil_toggle {
    display: flex;

    width: 100px;
  }

  .movil_toggle img {
    z-index: 1000;
    margin: 0 auto;
  }
}
